.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
build
*.egg-info
dist

tests/test_ckpt*
data
ckpt*
vocab
apex
cache
tests/ckpt*
tner_output
tner_ckpt
ner-dataset
examples/snap
notes
datasets
scripts
dataset_public_tweet
dataset

examples/tweetner7_paper/cner_output
examples/tweetner7_paper/metric_files
examples/tweetner7_paper/output
examples/tweetner7_paper/MODEL_CARD.md
check_uploaded_models.py
tweetner7
metric_files
get_model_list.py