.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
build
*.egg-info
dist

tests/test_ckpt*
data
ckpt*
vocab
apex
cache
tests/ckpt*
tner_output
tner_ckpt
ner-dataset
examples/snap
notes
cner
datasets
scripts
dataset_public_tweet
dataset